@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  prefix: 'du-';
  exclude: rootscrollgutter;
}

html {
  @apply w-dvw;
  background-color: var(--bg-primary);
}

:root {
  --bg-primary: rgb(243,244,246);
  --color-primary: var(--color-indigo-600);
  /* -- */

  --feature: #5b21b6;
  --entertainment: #dc2626;
  --news: #312e81;
  --lifestyle: #da1678;
  --opinion: #a316a3;
  --science: #12804d;
  --technology: #2b6dd8;
  --school: #b45309;

  

}

* {
  transition-property: color, background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

/* transitions */
.fade-leave-active,
.fade-enter-active {
  position: absolute;
}

.fade-leave-active {
  transition: opacity 0.2s ease-out;
}

.fade-enter-active {
  transition: opacity 0.5s ease-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}