@import 'tailwindcss';
@plugin "daisyui" {
  prefix: 'du-';
  exclude: rootscrollgutter;
}

html {
  @apply w-dvw;
  background-color: var(--bg-primary);
}

:root {
  --bg-primary: rgb(243,244,246);
  --color-primary: var(--color-indigo-600);
  /* -- */
}

* {
  transition-property: color, background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

/* transitions */
.fade-leave-active,
.fade-enter-active {
  position: absolute;
}

.fade-leave-active {
  transition: opacity 0.2s ease-out;
}

.fade-enter-active {
  transition: opacity 0.5s ease-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}